* {
  font-family: 'Roboto', sans-serif;
}

span.title {
  color: #585858 !important;

}
#status-buttons a.active span.title {
    background: none !important;
      text-decoration: none !important;
}
colored-icon {
  color: #3f2e79;
}
#status-buttons a.active:hover {
  text-decoration: none !important;
}
#status-buttons a.active:focus {
  text-decoration: none !important;
}
span.form-control:hover{
  color:#3B3877;
  border-color: #3B3877;
}
label.minititle, h4.minititle{
  color: #3f2e79;
  font-size: 1.2em;
}
.form-group ng-scope .btn:hover, .form-group ng-scope .btn-default:hover {
  background: #00BC8C !important;
}

#form-container {
  margin-top: 45px;
}
div.teambox {
  background-color: #EDEDEE;
  height: 210px;
  border: black 1px solid;
}
#form-container .page-header {
  background:#eee;
  margin:0;
  padding:30px;
}

/* numbered buttons */
#status-buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
#status-buttons a {
  display:inline-block;
  font-size:12px;
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}
#status-buttons a:hover { text-decoration:none; }
#status-buttons span.chip {
  color: white;
  background:#080808;
  display:block;
  height:30px;
  margin:0 auto 10px;
  padding-top:5px;
  width:30px;
  border-radius:50%;
}
#status-buttons span.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

/* active buttons */
#status-buttons a.active span {
  background:#00BC8C;
  text-decoration:none;
}

/* ANIMATION STYLINGS
============================================================================= */
/*
#signup-form {
  position:relative;
  min-height:300px;
  overflow:hidden;
  padding:30px;
}

#form-views form {
  position:relative;
  overflow:hidden;
}
*/

#inscriptions-content {
  min-height: 500px;
  padding:30px;
  position:relative;
  overflow:hidden;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave {
  position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter {
  -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave {
  -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}

#form-views span {
  padding: 6px 12px;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform:translateX(200%); }
  to 		{ transform:translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(200%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(200%); }
  to 		{ -webkit-transform: translateX(0); }
}

/* ERROR HANDLING
============================================================================= */
 .alert{
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;
 }

 .alert-warning{
   color: #8a6d3b;
   background-color: #fcf8e3;
   border-color: #faebcc;
 }

 .alert-info{
   color: #31708f;
   background-color: #d9edf7;
   border-color: #bce8f1;
 }
.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
