<form name="gamesForm">
  <h3>Infos Tournoi</h3>

  <div class="form-group">
    <div class="alert alert-info" role="alert" ng-if="formData.products.tournament.name==='Animations'">
      <strong>Information: </strong>En fonction de l'affluence et de l'organisation des équipes des autres tournois, on ne peut pas garantir votre place en animation. S'il s'avère qu'il y a un manque de place, votre billet vous sera remboursé.
    </div>
    <h4 class="control-label minititle">Tournoi</h4>
    <ui-select id="info_tournoi" ng-model="formData.products.tournament" theme="bootstrap" title="Choix du tournoi" required>
      <ui-select-match placeholder="Sélectionnez ou cherchez un tournoi dans la liste...">{{ $select.selected.name }}</ui-select-match>
      <ui-select-choices position="down" repeat="game in gameProducts | filter: $select.search" ui-disable-choice="game.available == 0">
        <div ng-bind-html="game.name | highlight: $select.search"></div>
        <i ng-bind-html="game.available | highlight: $select.search"></i> places restantes
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <h4 class="minititle">Précommande tes repas (le plus important !)</h4>
    <div class="row">
      <div class="col-sm-4">
        Burger(s) <span class="price">13 CHF <strong>(14 CHF sur place)</strong></span>
      </div>
      <div class="col-sm-2">
        <select id="info_burger" ng-model="formData.products.burger.amount">
          <option ng-value="0">0</option>
          <option ng-value="1">1</option>
          <option ng-value="2">2</option>
          <option ng-value="3">3</option>
          <option ng-value="4">4</option>
        </select>
      </div>
      <div class="col-sm-4">
        Petit(s)-déj(s) <span class="price">5 CHF</span>
      </div>
      <div class="col-sm-2">
        <select id="info_dej" ng-model="formData.products.bfast.amount">
          <option ng-value="0">0</option>
          <option ng-value="1">1</option>
          <option ng-value="2">2</option>
        </select>
      </div>
    </div>
  </div>

  <div class="clearfix"><br /></div>
  <hr class="separator">
  <h3>Infos Joueur</h3>
  <div class="alert alert-warning" role="alert" ng-if="formData.products.tournament.need_team===0">
    <strong>Information: </strong>Tu as choisi un type de tournoi qui ne nécessite pas d'équipe. Si tu en choisi une, on ne peut pas garantir ton placement à côté des autres membres de ton équipe dans la LAN.
  </div>
  <div class="alert alert-warning" role="alert" ng-if="formData.products.tournament.need_team===1">
    <strong>Information: </strong>Tu as choisi un type de tournoi qui nécessite une équipe
  </div>
  <div class="alert alert-info" role="alert">
    Vous avez la possibilité de créer <strong>OU</strong> rejoindre une équipe. Cette dernière sera créée à la fin de ton inscription. Si tu ne vois pas d'erreur, c'est qu'elle a été créée. Afin d'en rejoindre une, veuillez vous munir du code d'inscription.
  </div>

  <div class="form-group row">
    <div class="col-sm-6 teambox">
      <label for="info_equipe"><i class="fa fa-plus-circle colored-icon" aria-hidden="true"></i> Créer une équipe</label>
      <p>
        <strong>Attention </strong>tu ne peux pas créer une équipe si elle existe deja. Si tu crées une équipe, tu en seras le capitaine. Par contre, tu devras communiquer le code d'invitation au reste de ton équipe pour qu'ils en fassent partie!
      </p>
      <input type="text" class="form-control" placeholder="Équipe" ng-model="formData.team" ng-keyup="testTeamName()" name="team" id="team" />
      <p style="color:#a94442;" ng-show="testTeamName()">
        Cette équipe existe déjà
      </p>
      <p style="color:#3c763d;" ng-hide="testTeamName()">
        Nom d'équipe libre :)
      </p>
    </div>
    <div class="col-sm-6 teambox">
      <label for="info_equipe"><i class="fa fa-sign-in colored-icon" aria-hidden="true"></i> Rejoindre une équipe</label>
      <p>
        Si quelqu'un de ton équipe en a deja créé une, tu peux entrer le code d'inscription qui t'a été transmis et rejoindre tes amis!
      </p>
      <div class="row">
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Code d'activation" ng-model="formData.team_code" name="team_code" id="team_code" />

        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary" ng-click="testTeamCode()">Vérifier le code</button>
        </div>
      </div>

      <p style="color:#a94442;" ng-if="teamFromCode===false">
        Cette équipe n'existe pas :(
      </p>
      <p style="color:#3c763d;" ng-if="teamFromCode">
        Equipe <strong>{{teamFromCode}}</strong> trouvée!
      </p>
    </div>
  </div>

  <!--</div>-->

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4" ng-show="viewBattleTag()">
        <label for="info_battleTag">BattleTag</label>
        <input type="text" class="form-control" placeholder="BattleTag" name="battleTag" id="info_battleTag" ng-maxlength="20" ng-model="infosUser.battleTag" ng-pattern="/^\w{2,11}#[0-9]{4,5}$/i" />
      </div>
      <div class="col-sm-4" ng-show="viewLoL()">
        <label for="info_Lol">Compte LoL</label>
        <input type="text" class="form-control" placeholder="Compte League of Legends" name="lol" id="info_Lol" ng-maxlength="20" ng-model="infosUser.lol_account" />
      </div>
      <div class="col-sm-4" ng-show="viewSteamID()">
        <label for="steam_field">Compte Steam</label>
        <input type="text" class="form-control" id="steam_field" ng-model="infosUser.steamID64" placeholder="SteamID64 (suite de chiffres)" uib-tooltip-html="'Trouvez votre SteamID avec:<br /> &lt; <b><i>steam user { username }</i></b> &gt;<br /> sur notre serveur Discord !'"
          tooltip-placement="top-left" tooltip-class="customClass" />
      </div>
    </div>
  </div>

  <div class="clearfix"><br /></div>
  <hr class="separator">
  <h3>Infos Diverses</h3>

  <div class="form-group">
    <label>Règlements</label>
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="assets/FG2018_rules_general.pdf" target="_blank">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Règlement Général de la LAN
        </a>
      </div>
      <div class="col-sm-2 text-center">
        <a href="assets/FG2018_rules_CSGO.pdf" target="_blank">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Règlement CS: GO
        </a>
      </div>
      <div class="col-sm-2 text-center">
        <a href="assets/FG2018_rules_LOL.pdf" target="_blank">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Règlement League of Legends
        </a>
      </div>
      <div class="col-sm-2 text-center">
        <a href="assets/FG2018_rules_OW.pdf" target="_blank">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Règlement Overwatch
        </a>
      </div>
      <div class="col-sm-2 text-center">
        <a href="assets/FG2018_rules_HS.pdf" target="_blank">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Règlement Hearthstone
        </a>
      </div>
    </div>
  </div>

  <br />
  <div class="form-group">
    <label>Consentements</label>
  </div>

  <div class="checkbox">
    <label for="info_cable">
      <input type="checkbox" name="cable" id="info_cable" ng-model="formData.consent.cable" required />
      J'ai un câble RJ-45 pour me brancher au réseau (5 mètres)
    </label>
    <br />
    <label for="info_reglements">
      <input type="checkbox" name="reglements" id="info_reglements" ng-model="formData.consent.rules" required />
      J'ai lu et accepte les règlements de la LAN qui me concernent.
    </label>

    <div ng-show="underage">
      <hr />
      <label for="info_mineur">
        <input type="checkbox" name="mineur" id="info_mineur" ng-model="formData.consent.check_underage" />
        En tant que mineur, j'ai un <a href="assets/autorisation_mineur.pdf" target="_blank">exemplaire du formulaire de consentement parental</a> signé.
      </label>
    </div>
  </div>

  <br />
  <div class="checkbox">
    <div class="col-xs-4 col-xs-offset-4">
      <a ui-sref="inscriptions.payment" class="btn btn-block btn-info">
        Suite <fa name="arrow-circle-right"></fa>
      </a>
    </div>
  </div>

</form>
