<h3>Infos Tournoi</h3>

<div class="form-group">
  <label class="control-label" for="info_tournoi">Tournoi</label>
  <ui-select id="info_tournoi"
             ng-model="formData.products.tournoi"
             theme="bootstrap"
             title="Choix du tournoi">
    <ui-select-match placeholder="Sélectionnez ou cherchez un tournoi dans la liste...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="game in gameProducts | filter: $select.search">
      <div ng-bind-html="game.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="form-group">
  <label class="control-label">Repas (le plus important !)</label>
  <div class="row">
    <div class="col-sm-6 text-center">
      Burger(s):
      <select id="info_burger" ng-model="formData.products.burger">
        <option value="0">0</option>
        <option value="0">1</option>
        <option value="0">2</option>
        <option value="0">3</option>
        <option value="0">4</option>
      </select>
    </div>
    <div class="col-sm-6 text-center">
      Petit(s)-déj(s):
      <select id="info_dej" ng-model="formData.products.dej">
        <option value="0">0</option>
        <option value="0">1</option>
        <option value="0">2</option>
      </select>
    </div>
  </div>
</div>

<div class="clearfix"><br /></div>
<hr class="separator">
<h3>Infos Joueur</h3>

<div class="form-group">
  <label for="info_equipe">Nom de mon équipe</label>
  <div angucomplete-alt
       id="info_equipe"
       placeholder="Équipe"
       pause="100"
       local-data="existingTeams"
       search-fields="name"
       title-field="name"
       selected-object="formData.existTeam"
       override-suggestions="true"
       minlength="1"
       input-class="form-control form-control-small"><!--remote-url remote-url-data-field--></div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-sm-4">
      <label for="info_battleTag">BattleTag</label>
      <input type="text" class="form-control" placeholder="BattleTag" name="battleTag" id="info_battleTag" ng-maxlength="20" ng-model="formData.accounts.battleTag" ng-pattern="/^[\\p{L}\\p{Mn}][\\p{L}\\p{Mn}0-9]{2,11}#[0-9]{4,5}$/u" />
    </div>
    <div class="col-sm-4">
      <label for="info_Lol">Compte LoL</label>
      <input type="text" class="form-control" placeholder="Compte League of Legends" name="lol" id="info_Lol" ng-maxlength="20" ng-model="formData.accounts.lol" />
    </div>
    <div class="col-sm-4">
      <label for="info_Steam">Compte Steam</label>
      <input type="text" class="form-control" placeholder="UserName" name="steam" id="info_Steam" ng-maxlength="20" ng-model="formData.accounts.steam" />
      <!-- valider chiffres -->
    </div>
  </div>
</div>

<div class="clearfix"><br /></div>
<hr class="separator">
<h3>Infos Diverses</h3>

<div class="form-group">
  <label>Règlements</label>
  <div class="row">
    <div class="col-sm-4 text-center">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Doc 1
    </div>
    <div class="col-sm-4 text-center">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Doc 2
    </div>
    <div class="col-sm-4 text-center">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Doc 3
    </div>
  </div>
</div>

<br />
<div class="form-group">
  <label>Consentements</label>
</div>

<div class="checkbox">
  <label for="info_cable">
    <input type="checkbox" name="cable" id="info_cable" ng-model="formData.consent.cable" />
    J'ai un câble RJ-45 pour me brancher au réseau (de 10m de long, histoire d'être sûr !)
  </label>
  <label for="info_reglements">
    <input type="checkbox" name="reglements" id="info_reglements" ng-model="formData.consent.reglements" required />
    J'ai lu et accepte les règlements de la LAN
  </label>
  <!-- TODO: si mineur... -->
  <hr />
  <label for="info_mineur">
    <input type="checkbox" name="mineur" id="info_mineur" ng-model="formData.consent.mineur" />
    En tant que mineur, j'ai un exemplaire du formulaire de consentement parental signé.
  </label>
</div>

<br />
<div class="checkbox">
  <div class="col-xs-4 col-xs-offset-4">
    <a ui-sref="inscriptions.payment" class="btn btn-block btn-info">
      Suite <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
