<div>
  <div id="ngModal-header">
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
    <h3 class="text-center">Réinitialisation du mot de passe</h3>
  </div>
  <div id="ngModal-content">
    <form name="newPassForm" ng-submit="resetPassword()" role="form">
      <div class="form-group" ng-class="{ 'has-error': user.password.$dirty && (user.password.$invalid || user.password.$error.required) }">
        <label for="champ_password">Mot de passe</label>
        <input type="password" name="password" id="champ_password" class="form-control" ng-model="user.password" ng-minlength="8" required />
        <span ng-show="user.newPassword.$dirty && (user.newPassword.$invalid || user.newPassword.$error.required)" class="help-block">Mot de passe requis (min. 8 caractères).</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': user.password_confirmation.$dirty && user.password_confirmation.$error.noMatch }">
        <label for="champ_password_confirmation">Confirmation mot de passe</label>
        <input type="password" name="password_confirmation" id="champ_password_confirmation" class="form-control" ng-model="user.password_confirmation" confirm-password required />
        <span ng-show="user.password_confirmation.$dirty && user.password_confirmation.$error.noMatch" class="help-block">Les mots de passe ne correspondent pas.</span>
      </div>
      <div class="form-actions center-block">
        <button type="submit" ng-disabled="newPassForm.$invalid" class="btn btn-primary">Confirmer</button>
      </div>
    </form>
  </div>
</div>