<div>
  <div id="ngModal-header">
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
    <h3 class="text-center">Créer un compte</h3>
  </div>
  <div id="ngModal-content">
    <form method="post" ng-submit="signup()" name="signupForm">
      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.username.$invalid && signupForm.username.$dirty }">
        <input class="form-control input-lg" type="text" name="username" ng-model="user.username" placeholder="Nom d'utilisateur" required autofocus>
        <span class="ion-person form-control-feedback"></span>
        <div class="help-block text-danger" ng-show="signupForm.username.$dirty" ng-messages="signupForm.username.$error">
          <div ng-message="required">Vous devez indiquer un pseudo.</div>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
        <input class="form-control input-lg" type="email" id="email" name="email" ng-model="user.email" placeholder="E-mail" required>
        <span class="ion-at form-control-feedback"></span>
        <div class="help-block text-danger" ng-show="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
          <div ng-message="required">Une adresse mail valide est requise.</div>
          <div ng-message="pattern">Votre adresse mail est invalide.</div>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.birthdate.$invalid && signupForm.birthdate.$dirty }">
        <div class="input-group">
          <input class="form-control input-lg" type="text" id="birthdate" name="birthdate" uib-datepicker-popup="{{dateFormat}}" ng-model="user.birthdate" placeholder="JJ.MM.AAAA" is-open="isDatepickerOpen" ng-required="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default input-lg" ng-click="openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
        <input password-strength class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Mot de passe" required>
        <span class="ion-key form-control-feedback"></span>
        <div class="help-block text-danger" ng-show="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
          <div ng-message="required">Mot de passe requis.</div>
        </div>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
        <input password-match="user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirmer le mot de passe">
        <span class="ion-key form-control-feedback"></span>
        <div class="help-block text-danger" ng-show="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
          <div ng-message="compareTo">Les mot de passe doivent être identiques.</div>
        </div>
      </div>

      <p class="text-center text-muted"><small>En cliquant sur Inscription, vous acceptez nos <a href="#">Conditions</a> et indiquez que vous avez lu notre <a href="#">Politique d'utilisation des données</a></small></p>
      <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Créer un compte</button>
      <p class="text-center text-muted">Vous avez déjà un compte ? <a href="" ng-click="openLogin()">Connectez-vous</a> !</p>
    </form>
  </div>
</div>
