<!-- Modal content-->
    <h3>FestiGeek recherche des bénévoles pour participer à la réalisation de la prochaine LAN, qui aura lieu du <strong>26 au 28 Mai 2017</strong> à l'HEIG-VD.</h3>
    <a href="https://goo.gl/forms/9zlPykVQXPoKQwep1" target="_blank" class="close_modal">
      <img src="images/soldier76_iwantyou.jpg" id="logo_benevoles" />
    </a>
    <p>Tu veux profiter d'une ambiance incroyable pendant un week-end ? Manger des burgers et faire passer un moment génial à nos fidèles gamers ?</p>
    <p>Alors deviens un bénévole à <strong>FestiGeek</strong>, que ce soit une demi-journée ou tout le week-end vous être tous les bienvenus !</p>
    <br class="clearfix" />
    <div class="text-center">
      <a href="https://goo.gl/forms/9zlPykVQXPoKQwep1" target="_blank" class="btn btn-success close_modal" role="button">
        Je participe !
      </a>
    </div>
    <hr />
    <div class="text-center">
      Dans tous les cas, n'hésite pas à rejoindre notre serveur <strong>Discord</strong> officiel !<br />
      <a href="https://discord.gg/QQ2KEUY" target="_blank">
        <img id="logo_pub_discord" alt="logo discord" src="images/Discord-Logo-Wordmark-Color.png" />
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <div id="modal-copyright">
      &copy; Source image: <a href="http://sandramj.deviantart.com/">sandramj@deviantart</a>
    </div>
    <a href="" data-dismiss="modal">Non merci</a>
  </div>
