<!-- Modal content-->
<div class="row">
  <div id="benevole" class="modal_content col-sm-6">
    <h2>Deviens bénévole</h2>

    <p>Tu veux profiter d'une ambiance incroyable pendant un week-end ? Manger des burgers et faire passer un moment génial à nos fidèles gamers ?</p>
    <p>Alors deviens un bénévole à <strong>FestiGeek</strong>, que ce soit une demi-journée ou tout le week-end vous être tous les bienvenus !</p>

    <div class="text-center button-modal">
      <a href="https://goo.gl/forms/9zlPykVQXPoKQwep1" target="_blank" class="btn btn-success close_modal" role="button">
        Je participe !
      </a>
    </div>
  </div>
  <div id="inscriptions" class="modal_content col-sm-6">
    <h2>Ouverture des inscriptions!</h2>

    <p>Viens t'inscrire dès maintenant à notre prochaine LAN (DATES).
      Festigeek t'offre aussi la possibilité de <strong>gagner ton burger</strong> pour la LAN.</p>
    <p>Il te suffit de t'inscrire dans les <strong> 24h</strong> et laisser notre algorithme te choisir !</p>
    <p>Délais: TODO</p>
    <p>Bonne chance!<p>

    <div class="button-container">
        <div class="text-center button-modal">
          <a href="#" target="_blank" class="btn btn-success close_modal" role="button">
            <!-- TODO instription url -->
            S'inscrire
          </a>
        </div>
    </div>
  </div>
</div>
