<h3> Qui sommes-nous?</h3>

<p>L'association FestiGeek est une association créée au sein de la HEIG-VD par des étudiants, collaborateurs et anciens étudiants en mars 2015. Reprenant le nom de la première LAN Party effectuée à la HEIG-VD en 2012, l'association cherche à présent à augmenter le rayonnement et la reconnaissance de la culture geek en Suisse et principalement dans le Nord Vaudois. L'adhésion à l'association est ouverte à tous, affiliés à la HEIG-VD ou pas et est totalement gratuite.</p>

<p>Notre association organise et participe activement à plusieurs événements, notamment des LAN party, du jeu de rôle et jeu de plateau. Nous avons également une cellule développement qui s'occupe de développer les outils avec lesquels nous travaillons, notamment le site web ainsi que l'application mobile.</p>

<p>En permettant à nos membres de participer à tout le processus d'organisation de l'événement, de la partie administrative à la réalisation technique, rejoindre FestiGeek est notamment un excellent moyen d’engranger de l'expérience pour les étudiants de l'école.</p>

<h3>Vision</h3>

<p>Augmenter le rayonnement de la culture geek en Suisse et permettre l’expression de celle-ci sous toutes ces formes, par le plus grand nombre.</p>

<h3>Mission</h3>

<p>Pour promouvoir la culture geek et en faire profiter le plus grand nombre, FestiGeek organise principalement des événements thématiques et collabore avec d'autres structures du milieu.</p>

<h3>Causes qui nous sont chères</h3>

<ul>
  <li>Reconnaissance du E-sport en Suisse</li>
  <li>Augmenter l'attrait des métiers de l'informatique et de gestion</li>
  <li>Collaboration inter-associatives</li>
  <li>Collaboration nationale et internationale</li>
  <li>Aider les groupes qui partagent nos valeurs</li>
</ul>

<p>Si vous souhaitez en savoir plus sur nous, consultez notre document <a href="http://festigeek.ch/sites/default/files/pdfs/FG_Historique.pdf">L'histoire de FestiGeek</a>, qui vous parlera plus profondément de nos activités.</p>
