<section style="padding-bottom: 50px; padding-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <label>E-Mail</label>
            <input type="text" class="form-control">
            <label>Date de naissance</label>
            <input type="text" class="form-control">
            <label>Entrer nouveau mot de passe</label>
            <input type="password" class="form-control">
            <label>Confirmer nouveau mot de passe</label>
            <input type="password" class="form-control">
            <br />
            <a href="#" class="btn btn-success">Mettre à jour le compte</a>
            <br /><br />
        </div>
        <div class="col-md-8">
            <div class="alert alert-info">
                <h2>Description de l'utilisateur</h2>
                <h4>Inscrit depuis le 1 Avril 2069</h4>
                <p>
                    Lorem ipsum
                    dolor sit amet 
                </p>
            </div>
            <div>
                <a href="#" class="btn btn-social">
                    <i class="glyphicon glyphicon-qrcode"></i>&nbsp; Example</a>
            </div>
            <div class="form-group">
                <h3>Coordonées</h3>
                <br />
                <p class="form-inline">
                    <label>Titre</label>
                    <br />
                    M.&nbsp; <input type="radio" class="form-control" value="1">
                    Mme&nbsp; <input type="radio" class="form-control" value="2">
                </p>
                <label>Nom</label>
                <input type="text" class="form-control">
                <label>Prenom</label>
                <input type="text" class="form-control">
                <label>Adresse</label>
                <input type="text" class="form-control">
                <label>Npa</label>
                <input type="text" class="form-control">
                <label>Ville</label>
                <input type="text" class="form-control">
                <br />
                <a href="#" class="btn btn-warning">Changer coordonées</a>
            </div>
        </div>
    </div>
</section>