<div class="container">
    <div class="row profile">

        <div class="col-md-3">
            <div class="profile-sidebar">

                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img data-ng-src="data:image/png;base64,{{ user.qrCode }}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->

                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{ user.pseudo }}</div>
                    <div class="profile-usertitle-job">{{ user.email }}</div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
  
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="" data-toggle="pill" ng-click="subPage = 1">
                                <i class="glyphicon glyphicon-home"></i>
                                Aperçu
                            </a>
                        </li>
                        <li>
                            <a href="" data-toggle="pill" ng-click="subPage = 2">
                                <i class="glyphicon glyphicon-user"></i>
                                Détails
                            </a>
                        </li>
                        <li>
                            <a href="" data-toggle="pill" ng-click="subPage = 3">
                                <i class="glyphicon glyphicon-ok"></i>
                                Commandes
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>

        <div class="col-md-9">
            <div class="alert alert-info">
                <h2>News</h2>
                <h4>Inscrit depuis le 1 Avril 2069</h4>
                <p>
                    Lorem ipsum
                    dolor sit amet 
                </p>
            </div>

            <div class="form-group" ng-show="subPage == 1">
                <h3>Infos compte</h3>
                <br />
                <label>Pseudo</label>
                <input type="text" class="form-control" ng-model="user.pseudo">
                <label>E-Mail</label>
                <input type="text" class="form-control" ng-model="user.email">
                <label>Date de naissance</label>
                <input type="text" class="form-control" ng-model="user.birthdate">
                <!--<label>Entrer nouveau mot de passe</label>
                <input type="password" class="form-control" ng-model="user.password">
                <label>Confirmer nouveau mot de passe</label>
                <input type="password" class="form-control" ng-model="user.confirm_password">-->
                <br />
                <a href="#" class="btn btn-success">Changer</a>
            </div>

            <div class="form-group" ng-show="subPage == 2">
                <h3>Coordonées</h3>
                <br />
                <p class="form-inline">
                    <label>Titre</label>
                    <br />
                    M.&nbsp; <input type="radio" class="form-control" value="1">
                    Mme&nbsp; <input type="radio" class="form-control" value="2">
                </p>
                <label>Nom</label>
                <input type="text" class="form-control">
                <label>Prenom</label>
                <input type="text" class="form-control">
                <label>Adresse</label>
                <input type="text" class="form-control">
                <label>Npa</label>
                <input type="text" class="form-control">
                <label>Ville</label>
                <input type="text" class="form-control">
                <br />
                <a href="#" class="btn btn-success">Mettre à jour</a>
            </div>
            
            <br /><br />
        </div>
    </div>
</div>

<br />
<pre>{{ user }}</pre>