<nav id="mainNav" ng-class="['navbar', 'navbar-default', 'navbar-fixed-top', {'moveMenu': isAuthenticated()}]" data-spy="affix" data-offset-top="100">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="logofg" href="/">
          <img src="images/logo.png" alt="Logo Festigeek"/>
        </a>
      </div>
  
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul du-spy-context class="nav navbar-nav fg-menu" id="fh5co-primary-menu">
          <li class="lan2018_menu"><a href="/#!/infolan" style="color:white">LAN 2018</a></li>
          <li class="active" du-scrollspy="home"><a href="#home" du-smooth-scroll>Accueil</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown-menu-about" href="">
              A propos <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-about">
              <li du-scrollspy="events"><a href="#about" class="close-dropdown-about" du-smooth-scroll>L'association</a></li>
              <li du-scrollspy="events"><a href="#team" class="close-dropdown-about" du-smooth-scroll>L'équipe</a></li>
              <li role="separator" class="fg-divider"></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown-menu-event" href="">
              Events <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-event">
              <li du-scrollspy="events"><a href="#events" class="close-dropdown-event" du-smooth-scroll>Les événements</a></li>
              <li du-scrollspy="laninfo"><a href="#laninfo" class="close-dropdown-event" du-smooth-scroll>LAN 2018</a></li>
              <li role="separator" class="fg-divider"></li>
            </ul>
          </li>
          <li du-scrollspy="join"><a href="#join" du-smooth-scroll>Nous rejoindre</a></li>
          <li du-scrollspy="sponsors"><a href="#sponsors" du-smooth-scroll>Devenir sponsor</a></li>
          <li du-scrollspy="contact"><a href="#contact" du-smooth-scroll>Contact</a></li>
        </ul>
      </div>
  
    </div>
  </nav>
  
  <div class="container" id="checkout_result">
  <!-- Résultat de l'inscription -->
  <div uib-alert ng-show="resultState === 'success' || resultState === 'win'" class="alert-success">
    <h3>Inscription réussie !</h3>
    <p>On t'as envoyé un p'tit mail de confirmation avec les informations de paiement <em>(si c'est pas le cas, pense à jeter un oeil dans tes spams...)</em></p>
    <p>Jête aussi un oeil à notre <a href="/#!/infolan">page d'informations </a>de la LAN</p>
    <div ng-show="resultState === 'win'" id="checkout_win">
      <h4>Félicitation !</h4>
      <p>
        <strong>Et en plus, on a un vainqueur !</strong><br/> Profites bien de ton Burger offert ;)
      </p>
    </div>
    <p>À très bientôt pour une LAN de folie ! :)</p>
    <p>
      Rejoins-nous tout de suite sur Discord <a href="https://discord.gg/QQ2KEUY"><img src="images/fg_discord.png" width="100%"></a>
    </p>
  </div>
  <div uib-alert ng-show="resultState === 'cancelled'" class="alert-warning">
    <h3>Inscription annulée !</h3> C'est dommage, on a fait quelque chose de mal ? :(
  </div>
  <div uib-alert ng-show="resultState === 'error'" class="alert-danger">
    <h3>Erreur lors de l'inscription !</h3> Zut, flûte, saperlipopette !<br /> Y a un truc qui a pas marché...
  </div>
</div>

<div class="container">
  <div ng-show="resultState === 'success' || resultState === 'cancelled'" class="col-md-12 text-center">
    <a href="/" role="button" class="btn btn-success">Retour à la page d'accueil</a>
  </div>
  <div ng-show="resultState === 'success'" class="col-md-12 text-center">
    <a href="/#!/profile" role="button" class="btn btn-success">Vers mon profil</a>
  </div>
  <div ng-show="resultState === 'error'" class="col-md-12 text-center">
    <a href="/#!/inscriptions/games" role="button" class="btn btn-success">On réessaye ?</a>
  </div>
</div>

<br/>
