<div class="top-padding"></div>
<div class="container infolan_page">
  <h1>LAN 2017 - Tout ce qu'il faut savoir</h1>

  <h3>Équipes inscrites à la LAN</h3>
  <div class="row" id="teams_list">
    <div class="col-sm-6">
      <div class="highlight">
        <h4 class="text-center">League of Legends</h4>
        <ul class="teams">
          <li ng-repeat="t in teams.lol | orderBy:'-users.length'" class="team" ng-class="t.users.length>4 ? 'complete' : ''">
            <strong>{{ t.name }} ({{ t.users.length }}/5)</strong>
            <ul class="users">
              <li ng-repeat="u in t.users" ng-class="u.gender == 'F' ? 'female' : 'male'">{{ !u.roaster ? '(' : '' }}{{ u.username }}{{ !u.roaster ? ')' : '' }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

<!--
    <div class="col-sm-4">
      <div class="highlight">
        <h4 class="text-center">Overwatch</h4>
        <ul class="teams">
          <li ng-repeat="t in teams.ow | orderBy:'-users.length'" class="team" ng-class="t.users.length>5 ? 'complete' : ''">
            <strong>{{ t.name }} ({{ t.users.length }}/6)</strong>
            <ul class="users">
              <li ng-repeat="u in t.users" ng-class="u.gender == 'F' ? 'female' : 'male'">{{ u.username }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
-->

    <div class="col-sm-6">
      <div class="highlight">
        <h4 class="text-center">Counter-Strike: GO</h4>
        <ul class="teams">
          <li ng-repeat="t in teams.cs | orderBy:'-users.length'" class="team" ng-class="t.users.length>4 ? 'complete' : ''">
            <strong>{{ t.name }} ({{ t.users.length }}/5)</strong>
            <ul class="users">
              <li ng-repeat="u in t.users" ng-class="u.gender == 'F' ? 'female' : 'male'">{{ u.username }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h3>Horaires</h3>
  <p>Ouverture de portes: vendredi, 26 mai 2017 dès 16:00</p>
  <!-- <ul>
  <li>Début tournois LOL: </li>
  <li>Début tournois Overwatch: samedi 26 mai, 10:00</li>
  <li>Début tournois CS:GO: </li> TODO quand on aura les horaires
  </ul> -->
  <p>Les horaires et plannings des tournois précis arriveront bientôt!</p>
  <p>Fin de la l'événement : dimanche, 28 mai  2017 vers 16:00</p>

  <h3>Prix</h3>
  <p>Pour la LAN le prix du pack pour les 3 jours est :</p>
  <ul>
    <li>20 CHF pour tout le monde</li>
    <li>15 CHF pour les étudiants de l'HEIG-VD</li>
    <li>Gratuit pour les visiteurs</li>
  </ul>

  <h3>Cash prize</h3>
  <p>Les prix pour les divers tournois sont les suivants (par équipe):</p>

  <h4>CS:GO<h4>
  <ul>
    <li><strong>1er:</strong> 300 CHF (+lots)</li>
    <li><strong>2e:</strong> 200 CHF (+lots)</li>
    <li><strong>3e:</strong> 100 CHF (+lots)</li>
  </ul>

  <h4>League of Legends</h4>
  <ul>
    <li><strong>1er:</strong> 300 CHF (+lots)</li>
    <li><strong>2e:</strong> 200 CHF (+lots)</li>
    <li><strong>3e:</strong> 100 CHF (+lots)</li>
  </ul>
<!--
  <h4>Overwatch</h4>
  <ul>
    <li><strong>1er:</strong> 360 CHF (+lots)</li>
    <li><strong>2e:</strong> 240 CHF (+lots)</li>
    <li><strong>3e:</strong> 120 CHF (+lots)</li>
  </ul>
-->
  <h3>Lieu</h3>
  <p>La LAN se déroule dans la cafeteria de la HEIG-VD. Route de Cheseaux 1, 1400 Yverdon-les-Bains.</p>
  <div class="text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2496.8377871726734!2d6.657475065708191!3d46.77921012475021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde00089bd6bf3f47!2sCaf%C3%A9t%C3%A9ria+L&#39;Orangeraie!5e0!3m2!1sfr!2sch!4v1494170323572" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <h3>Déplacement</h3>
  <p>Voici comment te rendre à l'événement:</p>
  <ol>
    <li><strong>Voiture: </strong>Tu peux te parquer sur place (entièrement gratuit lors de le LAN)</li>
    <li><strong>train: </strong>Gare d’Yverdon, tu prends le 601 direction Gymnase et du descends à l’arrêt HEIG</li>
    <li><strong>Autre: </strong>Tu viens en train et tu descends à l’arrêt Yverdon-Champ-Pittet, et tu marches dans la forêt pendant 500metres en étant prêt affronter les zombies.
    </li>
  </ol>

  <h3>Ce qu'il faut prendre avec toi<h3>
    <ul>
      <li>Ton ordinateur complet : écran, tour, clavier et souris, évidemment les ordinateurs portables sont aussi les bienvenus </li>
      <li>Un casque</li>
      <li>Un câble RJ-45</li>
      <li>Tous tes drivers et DVD d'installation en cas de besoin</li>
      <li>Ton sac de couchage et un matelas pour dormir.</li>
    </li>
  </ul>

  <h3>Pendant la LAN</h3>
  <p>Cette année, notre partenaire <a href="https://www.facebook.com/InfoGamesCH/" target="_blank">InfoGames</a> vous prépare un grand nombre d'animation, vous allez vous régaler !
    Le coin Chill sera disponible comme chaque année pour votre confort pendant la petite pause que vous vous autorisez 😊 . La LAN est non-fumeur, mais vous pouvez fumer dehors sans autres.</p>

  <h3>Miam-miam</h3>
  <p>Nos excellents burgers sont de retour pour vous donner encore plus envie !</p>
  <p>Disponible midi (12h00-14h00) et soir (18h00-20h00) pour le prix de 13.- avec une boissons (coca, thé froid etc) et 14.- avec red-bull.</p>
  <p>Le petit déjeuner (8h00-10h00) sera également organisé pour vous avec notre pain maison pour une petite somme de 5.- !</p>

  <h3>Dodo</h3>
  <p>Une salle sera mise à disposition exclusivement pour y dormir. Pensez à prendre de quoi vous installer confortablement, nous ne fournissons qu'un toit. Les matelas de sol gonflables sont autorisés, mais veuillez éviter les lits "king size".</p>

  <h3>Communications pendant l'événements<h3>
  <p>Nous vous conseillons de rejoindre de <a href="https://discord.gg/QQ2KEUY" target="_blank">Discord</a> FestiGeek afin d'être au courant de toutes les informations avant et pendant la LAN.</p>
  <p>Les communications entre joueurs et admins se fera aussi sur cette plateforme</a>

  <h3>Sécurité</h3>
  <p>L'accès à la LAN est limité et l'entrée et la sortie du bâtiment et de la zone de jeux-vidéo sera contrôlée. De plus, un agent de sécurité sera présent pendant la LAN.</p>

  <h3>Règlements<h3>
  <ul>
    <li><a href="assets/FG2017_reglement_general.pdf" target="_blank">Général</a></li>
    <li><a href="assets/FG2017_reglement_csgo.pdf" target="_blank">CS:GO</a></li>
    <li><a href="assets/FG2017_reglement_lol.pdf" target="_blank">League of Legends</a></li>
    <!--<li><a href="assets/FG2017_reglement_ow.pdf" target="_blank">Overwatch</a></li>-->
  </ul>
