<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="form-container">

      <div class="page-header text-center">
        <h2>Inscription LAN 2017</h2>

        <!-- the links to our nested states using relative paths -->
        <!-- add the active class if the state matches our ui-sref -->
        <div id="status-buttons" class="text-center">
          <a ui-sref-active="active" ui-sref=".infos">
            <span class="chip">1</span> <span class="title">Coordonnées</span>
          </a>
          <a ui-sref-active="active" ui-sref=".games">
            <span class="chip">2</span><span class="title"> Inscription</span>
          </a>
          <a ui-sref-active="active" ui-sref=".payment">
            <span class="chip">3</span> <span class="title">Paiement</span>
          </a>
          <span class="stretch"></span>
        </div>
      </div>

      <!-- our nested state views will be injected here -->
      <div id="inscriptions-content">
        <div id="form-views" ui-view></div>
      </div>

      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <!--
      <form name="signupform" id="signup-form" ng-submit="processForm()">
        <script type="text/ng-template" id="error-messages">
          <div class="row">
            <div class="col-md-12">* Champs obligatoires</div>
          </div>

          <div ng-message="minlength">Champ invalide - trop court</div>
          <div ng-message="maxlength">Champ invalide - trop long</div>
        </script>

      </form>
      -->

    </div>
  </div>
</div>
