<div class="top-padding"></div>
<div class="container intra_page">
  <h1>LAN 2017 - Intranet</h1>

  <h3>Discord</h3>
  <!-- Discord widget -->
  <div class="container text-center">
    <iframe src="https://discordapp.com/widget?id=249966034742804481&theme=dark"
            width="800"
            height="600"
            allowtransparency="true"
            frameborder="0">
    </iframe>
  </div>

  <h3>Tournoi LoL</h3>
  <!-- Toornament LoL -->
  <div class="container">

  </div>

  <h3>Tournoi CS-GO</h3>
  <!-- Toornament CS-GO -->
  <div class="container">

  </div>

  <!-- Divers -->
</div>
