<div>
<h1>Lan 2017</h1>
<h2>Tout ce qu'il faut savoir</h2>
<h3>Horaires</h3>
<p>Ouverture de porte  : vendredi, 25 avril 2017 dès 18:00</p>
<ul>
  <li>Début tournois LOL: *</li>
  <li>Début tournois Overwatch: *</li>
    <li>Début tournois CS:GO: *</li>
<p>* horaire sensible de changer</p>
</ul>
<p>Fin de la l'événement : dimanche, 28 mai  2017 vers 16:00</p>

<h3>Prix</h3>
<p>Pour la LAN le prix du pack pour les 3 jours est :</p>
<ul>
  <li>20 CHF pour tout le monde</li>
    <li>15 CHF pour les étudiants d’HEIG-VD</li>
    <li>Gratuit pour les visiteurs</li>



</ul>

<h3>Lieu</h3>
<p>La LAN se déroule dans la cafeteria d’ HEIG-VD. Route de Cheseaux 1, 1400 Yverdon-les-Bains.</p>

<h3>Déplacement<h4>
  <p>T’as devant des multiples possibilités pour te rendre à l'événement:</p>
<ol>
  <li><strong>Voiture: </strong>Tu peux te parquer sur place (entièrement gratuit lors de le LAN) </li>
<li><strong>train: </strong>Gare d’Yverdon, tu prends le 601 direction Gymnase et du descends à l’arrêt HEIG</li>
<li><strong>Autre: </strong>Tu viens en train et tu descends à l’arrêt Yverdon-Champ-Pittet, et tu marches dans la forêt pendant 500metres en étant prêt affronter les zombes.
</li>
</ol>
<h3>Ce qu'il faut prendre avec toi<h3>
<ul>
  <li>Ton ordinateur complet : écran, tour, clavier et souris, évidemment les ordinateurs portables sont aussi les bienvenus </li>
  <li>Un casque</li>
  <li>Un câble RJ-45</li>
  <li>Tous tes drivers et DVD d'installation en cas de besoin</li>
  <li>Ton sac de couchage et un matelas pour dormir.</li>
</li>
</ul>

<h3>Pendant la LAN</h3>
<p>Nous avons prévu pleins d’animation pour vous, vous allez vous régaler ! Coin chill sera disponible comme chaque année pour votre petit confort pendant la petite pause que vous vous autorisez 😊 . La LAN est non-fumeur, mais vous pouvez fumer dehors sans autres.
</p>
<h3>Miam-miam</h3>
<p>Nos excellents burgers sont de retour pour vous donner encore plus envie !</p>
<p>Disponible midi (12h00-14h00) et soir(18h00-20h00)* pour le prix de 13.- avec une boissons (coca, thé froid etc) et 14.- avec red-bull.</p>
<p>Le petit déjeuner (8h00-10h00) sera également organisé pour vous avec notre pain maison pour une maudite somme de 5.- !
</p>
<h3>Dodo</h3>
<p>Une salle sera mise à disposition exclusivement pour y dormir. Pensez à prendre de quoi vous installer confortablement, nous ne fournissons qu'un toit ;-)</p>

<h3>Sécurité</h3>
<p>L'accès à la LAN est limité et l'entrée et la sortie du bâtiment et de la zone de jeux-vidéo sera contrôlée. De plus, un agent de sécurité sera présent pendants la LAN.<7p>

</div>
