<script type="text/ng-template" id="templateNewForm">
<div>
    <h2>Bienvenue !</h2>
    <div class="alert alert-info" role="alert">Vous vous connectez pour la première fois sur le nouveau site de FestiGeek. Pour des raisons de sécurité, merci de confirmer votre mot de passe (vous pouvez également en profiter pour le modifier).</div>
    <form name="newPassForm" ng-submit="signin() && confirm()" role="form">
        <div class="form-group" ng-class="{ 'has-error': newPassForm.password.$dirty && (newPassForm.password.$invalid || newPassForm.password.$error.required) }">
            <label for="champ_password">Mot de passe</label>
            <input type="password" name="newPassword" id="champ_password" class="form-control" ng-model="user.newPassword" ng-minlength="8" required />
            <span ng-show="newPassForm.newPassword.$dirty && (newPassForm.newPassword.$invalid || newPassForm.newPassword.$error.required)" class="help-block">Mot de passe requis (min. 8 caractères).</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': newPassForm.confirm_password.$dirty && newPassForm.confirm_password.$error.noMatch }">
            <label for="champ_confirm_password">Confirmation mot de passe</label>
            <input type="password" name="confirm_password" id="champ_confirm_password" class="form-control" ng-model="user.confirm_newPassword" confirm-password required />
            <span ng-show="newPassForm.confirm_password.$dirty && newPassForm.confirm_password.$error.noMatch" class="help-block">Les mots de passe ne correspondent pas.</span>
        </div>
        <div class="form-actions center-block">
          <button type="submit" ng-disabled="newPassForm.$invalid" class="btn btn-primary">Valider</button>
        </div>
    </form>
  </div>
</script>

<div class="col-md-6 col-md-offset-3">
  <h2>Se connecter</h2>
  <form name="loginForm" ng-submit="signin()" role="form">
    <div class="form-group" ng-class="{ 'has-error': loginForm.email.$dirty && loginForm.email.$error.required }">
      <label for="email">E-Mail</label>
      <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required />
      <span ng-show="loginForm.email.$dirty && loginForm.email.$error.required" class="help-block">E-Mail requis</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$dirty && loginForm.password.$error.required }">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
      <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">Mot de passe requis</span>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="loginForm.$invalid || login.dataLoading" class="btn btn-primary">Se connecter</button>
      <!--<a href="#/register" class="btn btn-link">Créer un compte</a>-->
    </div>
  </form>
</div>

<div class="col-md-12">
  <pre>{{ user }}</pre>
</div>