<nav id="mainNav" ng-class="['navbar', 'navbar-default', 'navbar-fixed-top', {'moveMenu': isAuthenticated()}]" data-spy="affix" data-offset-top="100">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigationbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="logofg" href="/">
        <img src="images/logo.png" alt="Logo Festigeek"/>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navigationbar">
      <ul du-spy-context class="nav navbar-nav fg-menu" id="fh5co-primary-menu">
        <li class="lan2018_menu"><a href="/#!/infolan" style="color:white">LAN 2018</a></li>
        <li class="active" du-scrollspy="home"><a href="#home" du-smooth-scroll>Accueil</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown-menu-about" href="">
            A propos <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-about">
            <li du-scrollspy="events"><a href="#about" class="close-dropdown-about" du-smooth-scroll>L'association</a></li>
            <li du-scrollspy="events"><a href="#team" class="close-dropdown-about" du-smooth-scroll>L'équipe</a></li>
            <li role="separator" class="fg-divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown-menu-event" href="">
            Events <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-event">
            <li du-scrollspy="events"><a href="#events" class="close-dropdown-event" du-smooth-scroll>Les événements</a></li>
            <li du-scrollspy="laninfo"><a href="#laninfo" class="close-dropdown-event" du-smooth-scroll>LAN 2018</a></li>
            <li role="separator" class="fg-divider"></li>
          </ul>
        </li>
        <li du-scrollspy="join"><a href="#join" du-smooth-scroll>Nous rejoindre</a></li>
        <li du-scrollspy="sponsors"><a href="#sponsors" du-smooth-scroll>Devenir sponsor</a></li>
        <li du-scrollspy="contact"><a href="#contact" du-smooth-scroll>Contact</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">
  <div class="row profile">

    <div class="col-md-3">
      <div class="profile-sidebar">

        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">{{ user.username }}</div>
          <div class="profile-usertitle-job">{{ user.email }}</div>
        </div>
        <!-- END SIDEBAR USER TITLE -->

        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img data-ng-src="data:image/png;base64,{{ user.QRCode }}" class="img-responsive" alt="" />
        </div>
        <!-- END SIDEBAR USERPIC -->

        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="" data-toggle="pill" ng-click="subPage = 1">
                <fa name="user"></fa>
                Compte FG
              </a>
            </li>
            <li>
              <a href="" data-toggle="pill" ng-click="subPage = 2">
                <fa name="map-marker"></fa>
                Coordonnées
              </a>
            </li>
            <li>
              <a href="" data-toggle="pill" ng-click="subPage = 3">
                <fa name="gamepad"></fa>
                Infos joueur
              </a>
            </li>
            <li>
              <a href="" data-toggle="pill" ng-click="subPage = 4">
                <fa name="users"></fa>
                LAN 2018
              </a>
            </li>
            <li ng-show="user.roles.length > 0">
              <a href="" data-toggle="pill" ng-click="subPage = 5">
                <fa name="wrench"></fa>
                Admin
              </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
      <br/>
    </div>

    <div class="profile-content col-md-9">
      <div class="form-group" ng-show="subPage == 1">

        <div class="alert alert-info">
          <b>Inscrit depuis le {{ user.created_at | amDateFormat: 'DD MMM YYYY' }}.</b>
          <br />
          <br />
          <p>
            Les informations ci-dessous ne sont actuellement pas modifiables.<br /> Contactez <a href="mailto:info@festigeek.ch">info@festigeek.ch</a> en cas d'erreur.
          </p>
        </div>

        <h3>Infos compte</h3>
        <label for="username_field">Username</label>
        <input type="text" class="form-control" id="username_field" ng-value="user.username" readonly>
        <label for="email_field">E-Mail</label>
        <input type="text" class="form-control" id="email_field" ng-value="user.email" readonly>
        <label for="birthdate_field">Date de naissance</label>
        <input type="text" class="form-control" id="birthdate_field" ng-value="user.birthdate| amDateFormat: 'DD.MM.YYYY'" readonly>
        <!--
          <label>Changez mot de passe</label>
          <input type="password" class="form-control" ng-model="user.password">
          <label>Confirmer nouveau mot de passe</label>
          <input type="password" class="form-control" ng-model="user.confirm_password">
          <br />
          <a href="#" class="btn btn-success">Mettre à jour</a>
        -->
      </div>

      <div class="form-group" ng-show="subPage == 2">

        <h3>Coordonnées</h3>
        <p class="form-inline">
          <label for="man_field">M.</label>
          <input type="radio" for="man_field" value="M" ng-model="user.gender"> &nbsp;
          <label for="woman_field">Mme</label>
          <input type="radio" for="woman_field" value="F" ng-model="user.gender">
        </p>

        <label for="lastname_field">Nom</label>
        <input type="text" class="form-control" id="lastname_field" placeholder="Nom" ng-model="user.lastname">

        <label for="firstname_field">Prénom</label>
        <input type="text" class="form-control" id="firstname_field" placeholder="Prénom" ng-model="user.firstname">

        <label for="street_field">Adresse</label>
        <input type="text" class="form-control" id="street_field" placeholder="Adresse" ng-model="user.street">

        <div class="row">
          <div class="col-sm-2">
            <label class="control-label" for="info_npa">NPA</label>
            <input type="text" class="form-control" placeholder="NPA" name="npa" id="npa_field" ng-model="user.npa" />
          </div>
          <div class="col-sm-10">
            <label class="control-label" for="info_ville">Ville</label>
            <input type="text" class="form-control" name="ville" placeholder="Ville" id="city_field" ng-model="user.city" />
          </div>
        </div>

        <label for="country_field">Pays</label>
        <select class="form-control" id="country_field" ng-model="user.country_id" ng-options="c.id as c.name for c in countries"></select>

        <br />
        <a ng-click="updateUser()" role="button" class="btn btn-success">Mettre à jour</a>

      </div>

      <div class="form-group" ng-show="subPage == 3">
        <h3>Infos joueur</h3>
        <label for="lol_field">League of Legends</label>
        <input type="text" class="form-control" id="lol_field" ng-model="user.lol_account" placeholder="Compte LoL">

        <label for="steam_field">SteamID</label>
        <input type="text" class="form-control" id="steam_field" ng-model="user.steamID64" placeholder="SteamID64 (suite de chiffres)" uib-tooltip-html="'Trouvez votre SteamID avec:<br /> &lt; <b><i>steam user { username }</i></b> &gt;<br /> sur notre serveur Discord !'"
          tooltip-placement="top-left" tooltip-class="customClass">

        <label for="battletag_field">Battle Tag</label>
        <input type="text" class="form-control" id="battletag_field" ng-model="user.battleTag" ng-pattern="/^\w{2,11}#[0-9]{4,5}$/i" placeholder="Battle Tag">

        <br />
        <a ng-click="updateUser()" role="button" class="btn btn-success">Mettre à jour</a>
      </div>

      <div class="form-group" ng-show="subPage == 4">
        <h3 class="titlelan">Récapitulatif de ta commande</h3>
        <!-- TODO if no order created for this event -> link to "inscription lan 2018" -->

        <div ng-show="!orders[0]">
          <div class="row">
            <div class="col-sm-7">Tu ne t'es pas encore inscrit à cette LAN !</div>
            <div class="col-sm-5">
              <a href="#!/inscriptions">
                <button type="button" class="btn btn-primary inscriptions">Je veux m'inscrire !</button>
              </a>
            </div>
          </div>
          <br />
        </div>

        <div ng-show="orders[0]">

          <div class="alert alert-warning" role="alert" ng-show="orders[0].state == 0">
            <div class="row">
              <div class="col-sm-12" ng-show="orders[0].payment_type_id == 1">
                Le paiement de ta commande n'est pas encore validé.<br /> Tu as jusqu'au 7 Mai pour le faire. Si tu as dejà payé, attends que notre équipe valide ton paiement. Merci pour ta patience !
              </div>
              <div class="col-sm-7" ng-show="orders[0].payment_type_id == 2">
                Il semble y avoir eu une erreur avec Paypal.<br /> Tu peux réessayer en cliquant ici:
              </div>
              <div class="col-sm-5" ng-show="orders[0].payment_type_id == 2">
                <a href="" ng-click="getPaypalInvoice()">
                  <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
                </a>
              </div>
            </div>
          </div>
          <div class="alert alert-success" role="alert" ng-show="orders[0].state == 1">
            Ton paiement a été validé! Merci beaucoup!
            <!--<div class="pull-right">
              <button type="button" class="btn btn-success" ng-click="getTicket()">Télécharger Billet WIP 2018</button>
            </div>
            <br />-->
            <br />
          </div>

          <div class="row">
            <div class="col-sm-7">
              <p>Tu as choisi de payer par
                <strong ng-show="orders[0].payment_type_id == 1">virement bancaire</strong>
                <strong ng-show="orders[0].payment_type_id == 2">paypal</strong>.
              </p>
              <div ng-show="orders[0].state == 0">
                <button ng-show="orders[0].payment_type_id == 1" ng-click="getBankTransfertMail()" type="button" class="btn btn-primary">Mail non-reçu ?</button>

              </div>
            </div>
            <div class="col-sm-5">
              <div ng-show="orders[0].state == 0">
                <p>Changer de méthode de paiement:</p>
                <button ng-show="orders[0].payment_type_id == 2" ng-click="getBankTransfertMail()" type="button" class="btn btn-primary">Utiliser le transfert bancaire</button>
                <a ng-show="orders[0].payment_type_id == 1" href="" ng-click="getPaypalInvoice()">
                  <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="row" ng-show="orders[0]">
          <table style="width:100%">
            <tr>
              <th>
                Produit
              </th>
              <th>
                Prix
              </th>
              <th>
                Quantité
              </th>
              <th>
                Total
              </th>
            </tr>
            <tr>
              <tr ng-repeat="product in orders[0].products">
                <td>
                  {{product.name}}
                </td>
                <td>
                  {{product.price}} CHF
                </td>
                <td>
                  {{product.pivot.amount}}
                </td>
                <td>
                  {{product.price}} CHF
                </td>
              </tr>

            </tr>
          </table>
        </div>

        <h3 class="titlelan">Gestion d'équipe</h3>

        <div ng-show="team">
          <div class="alert alert-info" role="alert" ng-show="isCaptain">
            Tu es le capitaine de votre équipe <strong>{{team.name}}</strong>. Tu peux donner ce rôle à quelqu'un d'autre de ton équipe. N'oublie pas de transmettre le code <strong>{{team.code}}</strong> aux autres membres.
          </div>
          <div class="alert alert-info" role="alert" ng-show="!isCaptain">
            Voici la composition de ton équipe <strong>{{team.name}}</strong>. Tu peux contacter le capitaine si tu souhaites y faire des changements.
          </div>

        </div>
        <div class="alert alert-info" role="alert" ng-show="!team">
          Oh Zut ! Tu ne fais partie d'aucune équipe!
          <!-- TODO en rejoindre une avec code -->
          <!-- <div ng-show=!orders[0]"">

          </div> -->
        </div>

        <table style="width:100%" ng-show="team">
          <tr>
            <th>
              Nom et prénom
            </th>
            <th>
              Pseudo
            </th>
            <th>
              Adresse Mail
            </th>
            <th>
              Capitaine
            </th>
          </tr>

          <tr ng-repeat="user in team.users">
            <td>
              {{user.lastname}} {{user.firstname}}
            </td>
            <td>
              {{user.username}}
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              <i class="fa fa-flag" aria-hidden="true" style="color:green;" ng-show="user.captain"></i>
              <i class="fa fa-flag" aria-hidden="true" style="color:grey;" ng-show="!user.captain"></i>
            </td>
            <td ng-show="isCaptain">
              <!-- TODO css button ng-if="!user.captain && isCaptain" -->
              <button type="button" class="btn btn-primary makecaptain" ng-click="changeCaptain(user.email)" ng-show="!user.captain">Rendre capitaine</button>
            </td>

          </tr>
        </table>
        <div class="invitetoteam row" ng-show="team">
          <div class="col-sm-10">
            <p> Pour inviter des participants, transmet leur ce code: </p>
          </div>

          <div class="col-sm-2 text-right">
            <h3 id="teamcode">{{ team.code }}</h3>
            <!-- <button ng-click="copyCode()" type="button" class="btn btn-primary">Copier le code</button> -->
          </div>

        </div>
      </div>

      <div class="form-group" ng-show="subPage == 5">
        <h1>Espace admin</h1>
        <h2>Fichier des commandes</h2>
        <button ng-click="getAllOrders('csv')" type="button" class="btn btn-primary">Download CSV</button>
        <button ng-click="getAllOrders('json')" type="button" class="btn btn-primary">Download JSON</button>
        <h2>Statistiques LAN 2018</h2>
        <!-- <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
        </canvas> -->
        <!-- <table style="width:100%">
          <tr>
            <th>
              Produit
            </th>
            <th>
              Nombre vendus
            </th>
            <th>
              % des ventes
            </th>
          </tr>
          <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>

        </table> -->
      </div>
    </div>
  </div>
</div>
