<div class="container">
  <div class="row profile">

    <div class="col-md-3">
      <div class="profile-sidebar">

        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">{{ user.username }}</div>
          <div class="profile-usertitle-job">{{ user.email }}</div>
        </div>
        <!-- END SIDEBAR USER TITLE -->

        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img data-ng-src="data:image/png;base64,{{ user.QRCode }}" class="img-responsive" alt="" />
        </div>
        <!-- END SIDEBAR USERPIC -->

        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="" data-toggle="pill" ng-click="subPage = 1">
                <fa name="user"></fa>
                Compte FG
              </a>
            </li>
            <li>
              <a href="" data-toggle="pill" ng-click="subPage = 2">
                <fa name="map-marker"></fa>
                Coordonnées
              </a>
            </li>
            <li>
              <a href="" data-toggle="pill" ng-click="subPage = 3">
                <fa name="gamepad"></fa>
                Infos joueur
              </a>
            </li>
            <li>
              <a href="" data-toggle="pill" ng-click="subPage = 4">
                <fa name="users"></fa>
                LAN 2018
              </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>

    <div class="profile-content col-md-9">
      <div class="form-group" ng-show="subPage == 1">

        <div class="alert alert-info">
          <!-- <div class="pull-right ticket-button">
            <a type="button" class="btn btn-success" ng-click="getTicket()">Ticket LAN 2017</a>
          </div> -->
          <h2>News</h2>
          <h4>Inscrit depuis le {{ user.created_at | amDateFormat: 'DD MMM YYYY' }}.</h4>
          <!-- .split(' ')[0] | date: 'dd MMM yyyy'  -->
          <p>
            Les informations ci-dessous ne sont actuellement pas modifiables.<br /> Contactez <a href="mailto:info@festigeek.ch">info@festigeek.ch</a> en cas d'erreur.
          </p>
        </div>

        <h3>Infos compte</h3>
        <label for="username_field">Username</label>
        <input type="text" class="form-control" id="username_field" ng-value="user.username" readonly>
        <label for="email_field">E-Mail</label>
        <input type="text" class="form-control" id="email_field" ng-value="user.email" readonly>
        <label for="birthdate_field">Date de naissance</label>
        <input type="text" class="form-control" id="birthdate_field" ng-value="user.birthdate| amDateFormat: 'DD.MM.YYYY'" readonly>
        <!--
          <label>Changez mot de passe</label>
          <input type="password" class="form-control" ng-model="user.password">
          <label>Confirmer nouveau mot de passe</label>
          <input type="password" class="form-control" ng-model="user.confirm_password">
          <br />
          <a href="#" class="btn btn-success">Mettre à jour</a>
        -->
      </div>

      <div class="form-group" ng-show="subPage == 2">

        <h3>Coordonnées</h3>
        <p class="form-inline">
          <label for="man_field">M.</label>
          <input type="radio" for="man_field" value="M" ng-model="user.gender"> &nbsp;
          <label for="woman_field">Mme</label>
          <input type="radio" for="woman_field" value="F" ng-model="user.gender">
        </p>

        <label for="lastname_field">Nom</label>
        <input type="text" class="form-control" id="lastname_field" placeholder="Nom" ng-model="user.lastname">

        <label for="firstname_field">Prénom</label>
        <input type="text" class="form-control" id="firstname_field" placeholder="Prénom" ng-model="user.firstname">

        <label for="street_field">Adresse</label>
        <input type="text" class="form-control" id="street_field" placeholder="Adresse" ng-model="user.street">

        <div class="row">
          <div class="col-sm-2">
            <label class="control-label" for="info_npa">NPA</label>
            <input type="text" class="form-control" placeholder="NPA" name="npa" id="npa_field" ng-model="user.npa" />
          </div>
          <div class="col-sm-10">
            <label class="control-label" for="info_ville">Ville</label>
            <input type="text" class="form-control" name="ville" placeholder="Ville" id="city_field" ng-model="user.city" />
          </div>
        </div>

        <label for="country_field">Pays</label>
        <select class="form-control" id="country_field" ng-model="user.country_id" ng-options="c.id as c.name for c in countries"></select>

        <br />
        <a ng-click="updateUser()" role="button" class="btn btn-success">Mettre à jour</a>

      </div>

      <div class="form-group" ng-show="subPage == 3">
        <h3>Infos joueur</h3>
        <label for="lol_field">League of Legends</label>
        <input type="text" class="form-control" id="lol_field" ng-model="user.lol_account" placeholder="Compte LoL">

        <label for="steam_field">SteamID</label>
        <input type="text" class="form-control" id="steam_field" ng-model="user.steamID64" placeholder="SteamID64 (suite de chiffres)" uib-tooltip-html="'Trouvez votre SteamID avec:<br /> &lt; <b><i>steam user { username }</i></b> &gt;<br /> sur notre serveur Discord !'"
          tooltip-placement="top-left" tooltip-class="customClass">

        <label for="battletag_field">Battle Tag</label>
        <input type="text" class="form-control" id="battletag_field" ng-model="user.battleTag" ng-pattern="/^\w{2,11}#[0-9]{4,5}$/i" placeholder="Battle Tag">

        <br />
        <a ng-click="updateUser()" role="button" class="btn btn-success">Mettre à jour</a>
      </div>

      <div class="form-group" ng-show="subPage == 4">
        <h3 class="titlelan">Récapitulatif de ta commande</h3>
        <!-- TODO if no order created for this event -> link to "inscription lan 2018" -->
        <div ng-if="!orders[0]">
          Tu ne t'es pas encore inscrit à cette LAN !
          <button type="button" class="btn btn-primary inscriptions"><a href="#!/inscriptions">Je veux m'inscrire !</a></button>
        </div>
        <div ng-if="orders[0]">
          <p>
            Tu as choisi de payer par
            <strong ng-if="orders[0].payment_type_id == 1">virement bancaire</strong>
            <strong ng-if="orders[0].payment_type_id == 0">paypal</strong>
          </p>
          <div class="alert alert-warning" role="alert" ng-if="orders[0].state == 0">
            Le paiement de ta commande n'est pas encore validé. Si tu as dejà payé, attends que notre équipe valide ton paiement. Merci pour ta patience !
          </div>
          <div class="alert alert-success" role="alert" ng-if="orders[0].state == 1">
            Ton paiement a été validé! Merci beaucoup!
          </div>
          <table style="width:100%">

            <tr>
              <th>
                Produit
              </th>
              <th>
                Prix
              </th>
              <th>
                Quantité
              </th>
              <th>
                Total
              </th>
            </tr>
            <tr>
              <tr ng-repeat="product in orders[0].products">
                <td>
                  {{product.name}}
                </td>
                <td>
                  {{product.price}} CHF
                </td>
                <td>
                  {{product.pivot.amount}}
                </td>
                <td>
                  {{product.price}} CHF
                </td>
              </tr>

            </tr>
          </table>
        </div>

        <h3 class="titlelan">Gestion d'équipe</h3>

        <div ng-if="team">
          <div class="alert alert-info" role="alert" ng-if="isCaptain">
            Tu es le capitaine de votre équipe <strong>{{team[0].name}}</strong>. Tu peux modifier le nom, les membres ainsi que le capitaine de ton équipe ici.
          </div>
          <div class="alert alert-info" role="alert" ng-if="!isCaptain">
            Voici la composition de ton équipe <strong>{{team[0].name}}</strong>. Tu peux contacter le capitaine si tu souhaites y faire des changements.
          </div>

        </div>
        <div class="alert alert-info" role="alert" ng-if="!team">
          Oh Zut ! Tu ne fais partie d'aucune équipe!
          <!-- TODO en rejoindre une avec code -->
        </div>

        <table style="width:100%" ng-if="team">
          <tr ng-if="orders[0]">
            <th ng-if="isCaptain">
              Nom et prénom
            </th>
            <th>
              Pseudo
            </th>
            <th ng-if="isCaptain">
              Adresse Mail
            </th>
            <th>
              Capitaine
            </th>
          </tr>

          <tr ng-repeat="user in team[0].users">
            <td ng-if="isCaptain">
              {{user.lastname}} {{user.firstname}}
            </td>
            <td>
              {{user.username}}
            </td>
            <td ng-if="isCaptain">
              {{user.email}}
            </td>
            <td ng-if="user.captain">
              <i class="fa fa-flag" aria-hidden="true" style="color:green;"></i>
            </td>
            <td ng-if="!user.captain">
              <!-- TODO css button -->
              <button type="button" class="btn btn-primary" ng-click="">Rendre capitaine</button>
            </td>

          </tr>
        </table>
        <div ng-if="isCaptain" class="invitetoteam row">
          <div class="col-sm-6">
            <p> Pour inviter des participants, transmet leur ce code: </p>
          </div>

          <div class="col-sm-6 text-right">
            <h3 id="teamcode">{{team[0].code}}</h3>
            <!-- <button ng-click="copyCode()" type="button" class="btn btn-primary">Copier le code</button> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
