<div class="col-md-6 col-md-offset-3">
    <h2>Créer un compte</h2>
    <form name="registerForm" ng-submit="signup()" role="form">
        <div class="form-group" ng-class="{ 'has-error': registerForm.pseudo.$dirty && registerForm.pseudo.$error.required }">
            <label for="champ_pseudo">Pseudo</label>
            <input type="text" name="pseudo" id="champ_pseudo" class="form-control" ng-model="register.user.pseudo" required />
            <span ng-show="registerForm.pseudo.$dirty && registerForm.pseudo.$error.required" class="help-block">Pseudo requis.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registerForm.email.$dirty && registerForm.email.$invalid}">
            <label for="champ_email">E-Mail</label>
            <input type="email" name="email" id="champ_email" class="form-control" ng-model="register.user.email" required />
            <span ng-show="registerForm.email.$dirty && registerForm.email.$error.required" class="help-block">Email requis.</span>
            <span ng-show="registerForm.email.$dirty && registerForm.email.$invalid && !registerForm.email.$error.required" class="help-block">Format incorrect.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registerForm.birthdate.$dirty && registerForm.birthdate.$error.required }">
          <label for="champ_birthdate">Date de naissance</label>
          <div class="input-group">
            <input type="text" name="birthdate" id="champ_birthdate" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="register.user.birthdate" is-open="isDatepickerOpen" ng-required="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registerForm.password.$dirty && (registerForm.password.$invalid || registerForm.password.$error.required) }">
            <label for="champ_password">Mot de passe</label>
            <input type="password" name="password" id="champ_password" class="form-control" ng-model="register.user.password" ng-minlength="8" required />
            <span ng-show="registerForm.password.$dirty && (registerForm.password.$invalid || registerForm.password.$error.required)" class="help-block">Mot de passe requis (min. 8 caractères).</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': registerForm.confirm_password.$dirty && registerForm.confirm_password.$error.noMatch }">
            <label for="champ_confirm_password">Confirmation mot de passe</label>
            <input type="password" name="confirm_password" id="champ_confirm_password" class="form-control" ng-model="register.user.confirm_password" confirm-password required />
            <span ng-show="registerForm.confirm_password.$dirty && registerForm.confirm_password.$error.noMatch" class="help-block">Les mots de passe ne correspondent pas.</span>
        </div>
        <div class="registerForm-actions">
            <button type="submit" ng-disabled="registerForm.$invalid || register.dataLoading" class="btn btn-primary">Créer un compte</button>
            <a href="#/login" class="btn btn-link">Annuler</a>
        </div>
    </form>
</div>