<h2>Sponsors</h2>
<p class="lead">Les sponsors de FestiGeek permettent à notre association de continuer à proposer des activités fun et culturelles. Ces sponsors ont fait le choix de croire en nos valeurs et en notre engagement, sans eux il serait impossible de continuer, nous les remercions infiniment.</p></br> 

<table class="table table-striped">
  <tr>
    <td class="tg-031e"><a href="http://www.y-parc.ch/"><img src="../../sites/default/files/sponsors/yparc.png" alt="Y-Parc"></a></td>
	<td><p>Avec une superficie de plus de 50 hectares, Y-PARC – Swiss Technopole est le premier et le plus vaste parc technologique de Suisse.Y-PARC dispose d’une offre d'infrastructures complète et variée – terrains à vendre, locaux à louer, incubateur d’entreprise – et de services d'accompagnement adaptés aussi bien aux start-up qu’à des entreprises plus matures.</p></td>
  </tr>
  <tr>
    <td class="tg-031e"><a href="http://www.numerik-games.ch/"><img src="../../sites/default/files/sponsors/ng.png" alt="Numerik-Games"></a></td>
	<td><p>Coordonné par la Ville d'Yverdon-les-Bains et organisé par plusieurs institutions phares de la Cité thermale, ce festival, dont la première édition est prévue pour 2016 (du 2 au 4 septembre), se donne pour vocation d'offrir une plateforme originale et unique en Suisse pour les entreprises, ingénieurs, créateurs et artistes qui prennent en compte dans leurs activités les nouvelles possibilités ouvertes par le numérique.</p></td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="http://www.gri-portal.ch/"><img src="../../sites/default/files/sponsors/gri.png" alt="Groupement Romand des Informaticiens"></a></td>
	<td>Le Groupement Romand de l'Informatique, mieux connu sous le sigle GRI, est la plus importante association professionnelle romande dans les domaines des nouvelles technologies.</td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="http://www.microinformatic.ch/"><img src="../../sites/default/files/sponsors/micro_info.png" alt="Microinformatic"></a></td>
	<td>Microinformatic est une compagnie spécialisée dans l'informatique implantée à Yverdon. Les prestations offertes sont diverses, du développement à la maintenance.</td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="http://qwertz.gg/"><img src="../../sites/default/files/sponsors/qwertz.png" alt="Bar le QWERTZ"></a></td>
	<td>Le bar des gamers de Lausanne. Events, streams et bonne ambiance sont toujours au programme. Rue de la Grotte 3, 1003 Lausanne </td>
  </tr>
  <tr>
    <td class="tg-031e"><a href="http://adnv.ch"><img src="../../sites/default/files/sponsors/adnv.png" alt="Développement du Nord Vaudois"></a></td>
	<td>Fondée en 1969, l’ADNV est une association qui a pour but de contribuer au développement harmonieux du Nord vaudois, notamment sur les plans économique et social.</td>
  </tr>
  <tr>
    <td class="tg-031e"><a href="http://www.pctop.ch"><img src="../../sites/default/files/sponsors/pctop.png" alt="PCtop"></a></td>
	<td>PCtop est une boutique de matériel informatique et de services informatique. L'équipe de PCtop soutient le E-Sport en Suisse sous toutes ces formes.</td>
  </tr>
  <tr>
    <td class="tg-031e"><a href="http://www.yverdon-les-bains.ch/accueil/"><img src="../../sites/default/files/sponsors/yverdon.png" alt="Commune d'Yverdon"></a></td>
	<td>La commune d'Yverdon-les-Bains nous offre son soutien dans l'organisation de notre LAN. Yverdon est une ville reconnue pour ses bains et son emplacement au bord du lac de Neuchâtel. </td>
  </tr>
  <tr>
    <td class="tg-031e"><a href="http://www.heig-vd.ch/"><img src="../../sites/default/files/sponsors/heig.jpg" alt="HEIG-VD"></a></td>
	<td>L'HEIG-VD est l'école dans laquelle notre association a été créée. Elle nous offre un support capital pour celle-ci, en mettant du personnel, des salles et du matériel à notre disposition.</td>
  </tr>
</table>

<h2>Partenaires</h2>

<p class="lead">Les partenaires de FestiGeek ont la même vision que notre association et collaborent avec nous afin de vous offrir des activités de qualités. L'entraide est une des valeurs les plus importantes pour nous, merci à tous nos partenaires.</p><br/>
<table class="table table-striped">
  <tr>
    <td align="center" class="tg-031e"><a href="http://iict.heig-vd.ch/"><img src="../../sites/default/files/sponsors/iict.jpg" alt="IICT HEIG"></a></td>
	<td>L'institut IICT de l'HEIG-VD est le berceau de FestiGeek, aujourd'hui encore, sa contribution est cruciale pour la LAN, autant techniquement qu'administrativement.</td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="http://red-instinct.com/"><img src="../../sites/default/files/sponsors/rins.jpg" alt="Red Instinct"></a></td>
	<td>La Red Instinct est une structure e-Sport encadrant des joueurs provenants majoritairement de Suisse. Nous évoluons aussi dans le secteur des médias et de la diffusion de contenu ainsi que l'événementiel .</td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="https://polylan.ch/"><img src="../../sites/default/files/sponsors/polylan.png" alt="PolyLAN"></a></td>
	<td>Depuis 2002, l'association PolyLAN qui est une comission de l'AGEPoly organise des LAN (ou LAN party) deux fois par an. Ces rassemblements, qui se déroulent dans le hall du batiment SG et au RLC à l'EPFL ainsi que parfois à l'Amphimax à l'UNIL ou plus récemment au SwissTech Convention Center, voient s'affronter jusqu'à 1150 participants au travers d'un réseau local. </td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="http://csg-tv.ch"><img src="../../sites/default/files/sponsors/csg-tv.png" alt="Commentary Swiss Gaming"></a></td>
	<td>Leur projet consiste à regrouper des commentateurs de jeux vidéo afin de pouvoir monter une structure qui puisse fournir le personnel nécessaire à des événements qui seraient dans le besoin en Suisse. Pour cela, ils recherchent activement des streameurs, webmaster ainsi que des sponsors afin de faire avancer le projet.</td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="http://www.geneva-gaming-convention.com/"><img src="../../sites/default/files/sponsors/ggc.png" alt="GGC"></a></td>
	<td>GGC est un regroupement d’associations de Gaming souhaitant créer un événement phare dans la région et, sur le long terme, avec une renommée internationale. </td>
  </tr>
  <tr>
    <td align="center" class="tg-031e"><a href="http://age.heig-vd.ch/"><img src="../../sites/default/files/sponsors/age.jpg" alt="AGE"></a></td>
	<td>L'Association Générale des Etudiants de l'HEIG-VD nous offre son soutien depuis la première édition de la LAN. Un grand merci!</td>
  </tr>
</table>

<h2>L'histoire de FestiGeek</h2>

<p class="lead">Vous souhaitez en savoir plus sur nos activités et nos accomplissements passés? Consultez donc notre historique!</p>
<a class="btn btn-default" href="http://festigeek.ch/sites/default/files/pdfs/FG_Historique.pdf" role="button">L'histoire de FestiGeek (FR / EN)</a>

<h2>Devenir un sponsor </h2>
<p class="lead">Nos projets vous intéressent, notre équipe vous est sympathique et vous souhaitez contribuer à la progression de notre groupe? Pourquoi ne pas devenir un sponsor et nous aider à mettre la culture geek en avant?</p><br/>

<a class="btn btn-default" href="http://festigeek.ch/sites/default/files/pdfs/Plaquette_Sponsoring_FG_2015-2016.pdf" role="button">Devenir un sponsor</a> 
<a class="btn btn-default" href="http://festigeek.ch/sites/default/files/pdfs/Sponsorship_FG_2015-2016.pdf" role="button">Become a sponsor</a> <br>
<br>

<p>Vous souhaitez nous proposer une offre sponsoring, nous vous en remercions! Vous pouvez sans autre contacter Monsieur Le Saux, notre responsable sponsoring son adresse est présente à la fin de la plaquette, merci! </p>
<p>Si vous souhaitez devenir un partenaire, avez des projets à nous proposer ou souhaitez simplement nous poser des question, vous pouvez sans autre nous contacter via notre <a href="http://festigeek.ch/fr/contact">page de contact</a>.</p>


