<h1>Comité FestiGeek</h1>
<table class="table table-hover">
  <tr>
	<th>Poste</th>
    <th>Nom</th>
    <th>Trombinoscope</th>
  </tr>
  <tr>
    <td>Président, Resp. technique</td>
    <td>Antoine <b>"Lamesse"</b> Messerli</td>
	<td><img src="../../sites/default/files/img/antoine_messerli.jpg" /></td>
  </tr>
  <tr>
    <td>Vice-président & Resp. des événements et groupes de travail</td>
    <td>Bruno <b>"Lyndartz"</b> Brito Carvalho</td>
	<td><img src="../../sites/default/files/img/bruno_carvalho.jpg" /></td>
  </tr>
  <tr>
    <td>Responsable des RH & du staff</td>
    <td>Nguyen-Phuong <b>"Drezaroth"</b> Le</td>
	<td><img src="../../sites/default/files/img/phuong_le.jpg" /></td>
  </tr>

  <tr>
    <td>Responsable développement & site web</td>
    <td>Pierre-Alain <b>"Iosis555"</b> Curty</td>
	<td><img src="../../sites/default/files/img/pa_curty.jpg" /></td>
  </tr>
    <tr>
    <td>Resp. sponsoring & communication</td>
    <td>Alan <b>"Le Thaï"</b> Le Saux</td>
	<td><img src="../../sites/default/files/img/alan_lesaux.jpg" /></td>
  </tr>
  <tr>
    <td>Chef cuistot & Resp. de la logistique</td>
    <td>Nicolas <b>"Bradock"</b> Butticaz-Leal</td>
	<td><img src="../../sites/default/files/img/nico_butticaz.jpg" /></td>
  </tr>
      <tr>
    <td>Trésorier, Resp. de la LAN & secrétaire</td>
    <td>Daniel <b>"Shmolitz"</b> Aguas Guerreiro</td>
	<td><img src="../../sites/default/files/img/daniel_aguas.jpg" /></td>
  </tr>
    <tr>
    <td>Consultante HEIG-VD</td>
    <td>Sandy <b>"Peach"</b> Vibert</td>
	<td><img src="../../sites/default/files/img/sandy_vibert.jpg" /></td>
  </tr>
</table>

<h1>Membres FestiGeek</h1>
<table class="table table-hover">
  <tr>
	<th>Poste</th>
    <th>Nom</th>
    <th>Trombinoscope</th>
  </tr>

  <tr>
    <td>Resp. vie campus & Graphiste en chef</td>
    <td>Simon <b>"Xaaram"</b> Baehler</td>
	<td><img src="../../sites/default/files/img/simon_baehler.jpg" /></td>
  </tr>
  <tr>
    <td>Resp. groupe médias, web designer</td>
    <td>Romain <b>"Randsom"</b> Sandoz</td>
	<td><img src="../../sites/default/files/img/romain_sandoz.jpg" /></td>
  </tr>
    <tr>
    <td>Resp. électricien</td>
    <td>Vincent <b>"L'éléctro"</b> Huguelet</td>
	<td><img src="../../sites/default/files/img/vincent_huguelet.jpg" /></td>
  </tr>
  <tr>
    <td>Responsable Réseau et système</td>
    <td>Christian <b>"Krys"</b> Luther</td>
	<td><img src="../../sites/default/files/img/christian_luther.jpg" /></td>
  </tr>
    <tr>
    <td>Resp. coin consoles second cuisine</td>
    <td>Bastian <b>"Azdar Amroth"</b> Gardel</td>
	<td><img src="../../sites/default/files/img/bastian_gardel.jpg" /></td>
  </tr>
  <tr>
    <td>Resp. de la salle, Electricité</td>
    <td>Nikola <b>"Francuz91"</b> Bjelogrlic</td>
	<td><img src="../../sites/default/files/img/niko_bjelo.jpg" /></td>
  </tr>
  <tr>
    <td>Super Staff</td>
    <td>Armand <b>"Jeankowkow"</b> Delessert</td>
	<td><img src="../../sites/default/files/img/armand_delessert.jpg" /></td>
  </tr>
  <tr>
    <td>Super Staff</td>
    <td>Raphael <b>"Nespresso"</b> Mas</td>
	<td><img src="../../sites/default/files/img/raphael_mas.jpg" /></td>
  </tr>
  <tr>
    <td>Consultant, Réseau et système</td>
    <td>Sébastien <b>"Droïde"</b> Henrioud</td>
	<td><img src="../../sites/default/files/img/sebastien_henrioud.jpg" /></td>
  </tr>
  <tr>
    <td>Réseau et système, vie du campus</td>
    <td>Anastasia <b>"Nastya"</b> Zharkova</td>
	<td><img src="../../sites/default/files/img/anastasia_zharkova.jpg" /></td>
  </tr>
  <tr>
    <td>Game Master Hearthstone et Starcraft 2</td>
    <td>Yannick <b>"YounTheory"</b> Widmer</td>
	<td><img src="../../sites/default/files/img/yannick_widmer.jpg" /></td>
  </tr>

  <tr>
    <td>Game Master des autres jeux</td>
    <td>Cédric <b>"Worms"</b> Rudareanu</td>
	<td><img src="../../sites/default/files/img/cedric_rudareanu.jpg" /></td>
  </tr>
    <tr>
    <td>Game Master des autres jeux</td>
    <td>Calixte <b>"Akroma"</b> Melly </td>
	<td><img src="../../sites/default/files/img/calixte_melly.jpg" /></td>
  </tr>
    <tr>
    <td>Développement</td>
    <td>Flavia <b>"flavz"</b> Pittet</td>
	<td><img src="../../sites/default/files/img/flavia_pittet.png" /></td>
  </tr>
    <tr>
    <td>Animation, Coin consoles & développement</td>
    <td>Dominique <b>"Schodaw"</b> Jollien</td>
	<td><img src="../../sites/default/files/img/dominique_jollien.jpg" /></td>
  </tr>
    <tr>
    <td>Organisation tournois & développement</td>
    <td>Samuel <b>"Le Poulet Suisse"</b> Darcey</td>
	<td><img src="../../sites/default/files/img/samuel_darcey.jpg" /></td>
  </tr>
    <tr>
    <td>Game Master CS:GO & Photographe</td>
    <td>Vincent <b>"aXomind"</b> Gschwend</td>
	<td><img src="../../sites/default/files/img/vincent_gschwend.jpg" /></td>
  </tr>
    <tr>
    <td>Animation, Game Master CS:GO</td>
    <td>Camille <b>"SwissWar"</b> Oggier</td>
	<td><img src="../../sites/default/files/img/camille_oggier.jpg" /></td>
  </tr>
  <tr>
    <td>Animation, Game Master Hearthstone</td>
    <td>Florent <b>"Ezorn"</b> Brandani</td>
	<td><img src="../../sites/default/files/img/florent_brandani.jpg" /></td>
  </tr>
</table>

<h1>Membres d'honneurs et anciens membres</h1>
<table class="table table-hover">
  <tr>
    <td>Game Master, Coin consoles</td>
    <td>Rui <b>"Evilangel00"</b> Reis</td>
	<td><img src="../../sites/default/files/img/rui_reis.jpg" /></td>
  </tr>
  <tr>
    <td>Super Staff</td>
    <td>Hua <b>"Korgan"</b> Zang</td>
	<td><img src="../../sites/default/files/img/hua_zang.jpg" /></td>
  </tr>
  <tr>
    <td>Super Staff</td>
    <td>Jonathan <b>"Lon3wolf"</b> Vence</td>
	<td><img src="../../sites/default/files/img/jonathan_vence.jpg" /></td>
  </tr>
</table>
